__pycache__/
*.pyc
.env
reports/

# Python-related ignores
*.py[cod]
*.pyo
*.pyd
__pycache__/
*.so

# Cython build
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
venv/
ENV/
env/
.venv/
env.bak/

# Jupyter
.ipynb_checkpoints

# Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Test, log, coverage files
*.log
*.pot
*.mo
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.py,cover
.tox/
.pytest_cache/
htmlcov/
*.tmp

# MyPy & type checking
.mypy_cache/
.dmypy.json
.pyre/

# Misc other
*.swp
*.bak
*.orig
*.tmp

!.gitkeep